<!--Day2-->
<!--<div class="container">
   <app-first></app-first>
    <app-second></app-second>
</div>-->
<!--Day3-->
<!--<div class="container">
<app-sign-in class="container1" (signEevent)="getDataFromsignIn($event)"></app-sign-in>
<app-data-table class="container2" [DisplayData]="studentArr"></app-data-table>
</div>-->
<!--Day4-->
<!--<app-form (addProduct)="addProduct($event)"></app-form>
<app-products [oneProduct]="product"></app-products>-->

<!--Day5-->

<div class="container-fluid mx-auto my-4 bg-brown rounded-4 p-3 shadow border-brown" style="width: 90%;">
    <ul class="nav justify-content-around">
      <li class="nav-item">
        <a class="nav-link text-light fw-semibold px-3 py-2 rounded-pill bg-transparent border border-light" 
           routerLinkActive="bg-light text-dark shadow" 
           routerLink="/home">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light fw-semibold px-3 py-2 rounded-pill bg-transparent border border-light" 
           routerLinkActive="bg-light text-dark shadow" 
           routerLink="/product">
          Product
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light fw-semibold px-3 py-2 rounded-pill bg-transparent border border-light" 
           routerLinkActive="bg-light text-dark shadow" 
           routerLink="/login">
          Login
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light fw-semibold px-3 py-2 rounded-pill bg-transparent border border-light" 
           routerLinkActive="bg-light text-dark shadow" 
           routerLink="/register">
          Register
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light fw-semibold px-3 py-2 rounded-pill bg-transparent border border-light" 
           routerLinkActive="bg-light text-dark shadow" 
           routerLink="/about">
          About
        </a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>